---
BasedOnStyle: LLVM
UseTab: ForIndentation
AlignOperands: DontAlign
AlwaysBreakBeforeMultilineStrings: false
BinPackParameters: false
BinPackArguments: false
IndentWidth: 4
TabWidth: 4
Language: Cpp
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
IndentPPDirectives: None
PPIndentWidth: -1
IndentPPDirectives: AfterHash
PointerAlignment: Left
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: false
AlignArrayOfStructures: Left
SpaceAfterCStyleCast: true
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeSquareBrackets: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: true
SpaceBeforeParens: Never
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
---
