
# NodeJS
node_modules/
package-lock.json

# Visual Studio
.vs/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# ThirdParty
ThirdParty/spdlog/
ThirdParty/fmt/
ThirdParty/glfw/
ThirdParty/glm/
ThirdParty/glad/

# BGFX
ThirdParty/bx/
ThirdParty/bimg/
ThirdParty/bgfx/

# Bin Dirs
bin/
bin-int/

lib/
